* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px black;
}

/* HEADER */
.topbar {
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background-color:;

}

.container {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background-color: lightblue;
}

.row {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: orange;
}

.col-25 {
    margin: 0 auto;
    width: 25%;
    background-color:;
    height: 40px;
}

.col-50 {
    margin: 0 auto;
    width: 50%;
    height: 40px;
}

/* MAIN */
.col-33{
    margin: 0 auto;
    width: 33%;
}



/* Utility -----------------------------------------*/
.tag-green{
    background-color: green;
    width: 80px;
    height: 20px;
    position: absolute;
    top: 0;
}

.tag-red {
    background-color: red;
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 0%;
}

.heart {
    text-align: center;
    width: 15%;
    font-size: 30px;
    background-color: white;
    position: absolute;
    right: 0%;
    top: 10px;
}

/* Utility -----------------------------------------*/



.content{
    width: 100%;
    margin: 0 auto;
}

.content .img-card {
width: 100%;
position: relative;
}



