* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

/* HEADER */
.topbar {
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background-color: orange;

}

.container {
    margin: 0 auto;
    width: 100%;
    height: 700px;
}

.row {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.col-25 {
    margin: 0 auto;
    width: 25%;
    background-color: ;
    height: 40px;
}

.col-50 {
    margin: 0 auto;
    width: 50%;
}

/* MAIN */
.col-33 {
    margin: 0 auto;
    width: 33%;
}



/* Utility -----------------------------------------*/
.tag-green {
    background-color: green;
    width: 150px;
    height: 20px;
    position: absolute;
    bottom: 30px;
}

.tag-red {
    background-color: red;
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 30px;
}

.heart {
    text-align: center;
    width: 15%;
    font-size: 30px;
    background-color: white;
    position: absolute;
    right: 0%;
    top: 10px;
}

/* Utility -----------------------------------------*/



.content {
    width: 100%;
    margin: 0 auto;
}

.content img {
    width: 100%;
}

.img-card {
    position: relative;
}